html, body {
    height: 100%;
    width: 100%
}

.main_container {
    height: 100%;
    justify-content: center;
}

.fixed_header {
   height: 35%;
   z-index: 100;
   background-color: white;
}

.lower_container {
    height: 65%;
    overflow-y: scroll;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
    border-bottom: solid 1px;
}

.headerpic_container {
    display: flex;
    justify-content: space-around;
}

.pumpkinpic {
    width: 130px;
    height: 130px;
}

p{
    text-align: center;
}

.buttonClass{
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    background-color: darkorange;
    border: none;
    color: white;
    width: 180px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

