html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    --btn-color: darkorange;
    --modal-background: rgba(0,0,0,.6);
    font-size: 10px;
}

.main_container {
    height: 100%;
    justify-content: center;
}

.fixed_header {
   height: 40%;
   z-index: 100;
   background-color: white;
}

.lower_container {
    height: 60%;
    overflow-y: scroll;
}

.scoreboard {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-top: 2em; */
    border-bottom: solid 1px;
}

.headerpic_container {
    height: 55%;
    display: flex;
    justify-content: space-around;
    /* height: 130px;
    width: 130px; */
}

.pumpkinpic {
    width: 13rem;
    height: 13rem;
}

p{
    text-align: center;
}

.buttonClass{
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    background-color: var(--btn-color);
    border: none;
    color: white;
    width: 180px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: .4em .2em;
}

/* -----  HEADER NAVIGATION BAR ----------- */
.header_bar_container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--btn-color);
}

.header_bar_title {
    margin: 0;
    padding-left: .8em;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.header_nav_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_login_button, .header_signup_button {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_bar_text {
    margin: 0;
    padding-right: .8em;
    color: white;
    font-size: 1.5rem;
}

/* ------- MODALS ------------ */

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-background);
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    color: white;
    margin: 0;
    padding: .2em .2em 0 0;
}

.input-form {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.input-form-title {
    font-size: 2em;
}

.input-form label {
    width: 80%;
    margin: 0 auto;
}

.input-box {
    padding: .3em .5em;
    width: 100%;
    border: 1px solid gray;
    font-size: 1.6rem;
}

.input-form-submit {
    width: 60%;
    background-color: var(--btn-color);
    font-size: 2rem;
    margin-top: 2em;
    padding: .5em 2em;
    border-radius: .5em;
}

.my-pukenkos-username {
    margin: 0;
    align-self: flex-end;
    padding: .5em .5em 0 0; 
}

.my-pukenkos-display-container {
    width: 80%;
    height: 60%;
    border: .1em solid black;
}

.my-pukenkos-title {
    margin: .2em 0;
}

.my-pukenkos-page-new-button {
    margin-top: .5em;
}

.hidden {
    display: none;
}

/* -----  Pukenko Listing Display ------- */
.pukenko-listing-container {
    width: 100%;
    border-bottom: 1px solid black;
    background-color: lightgray;
}

.pukenko-listing-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: .5em;
}

.pukenko-listing-stats-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: .5em;
}